@use 'reset';
@use 'wowhead';

:root {
  --rbp-bg: #fff;
  --rbp-surface: #fff;
  --rbp-border: rgb(244, 244, 245);
  --rbp-text: #3f3f46;
  --rbp-text-header: #18181b;
  --rbp-link: #d157f9;
  --rbp-marker: #a1a1aa;
}

html.dark {
  --rbp-bg: #0d0d0d;
  --rbp-surface: #171717;
  --rbp-border: rgb(24, 24, 27);
  --rbp-text: #e4e4e7;
  --rbp-text-header: #fafafa;
  --rbp-marker: #c2c2c2;
}

html {
  background-color: var(--rbp-bg);
  color: var(--rbp-text);
  font-family: Inter, sans-serif;
}

:not(h1, h2, h3, h4) {
  > a {
    &:hover {
      border-color: var(--rbp-link);
    }

    border-bottom-width: 1px;
    border-style: solid;
    border-color: transparent;
    color: var(--rbp-link);
    font-weight: 500;
  }
}

main {
  min-height: calc(100vh - calc(4rem + 4rem));
}
